/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: steelblue;
}
p {
  font-size: 18px;
}
a:hover{
  transition: color 1s ease;
  color: tomato
}
a:active{
  color: darkcyan;
  text-shadow: 1px 1px #ff000065;
}
.link {
  color: papayawhip;
  font-size: 20px;
  text-decoration: none
}

.link:hover{
  transition: color 1s ease;
  color: tomato
}
.link:active{
  color: fuchsia;
}
.schoollink:active{
  color: fuchsia;
  text-shadow: 1px 1px #ff000065;
}
.schoollink:hover{
  transition: color 1s ease;
  color: tomato
}
body {
  background: linear-gradient(to bottom right, #ffffff, peachpuff);
  height: 100vh;
  padding: 0;
  margin: auto;
  width: 70vw;
}
img {
  max-width: 100%;
  height: auto
}
nav {
  background-color: mediumaquamarine;
  color: darkorchid;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-column-gap: 10px;
  justify-content: space-around;
  align-content: center;
  height: 80px;
  padding: 10px;
}

main {
  display: grid;
  align-content: center;
  
}
#registrarheader {
  display: grid;
  grid-template-columns: auto;
  align-self: center;
  justify-items: center;
}
.students {
  display: grid;
  justify-items: center;
}
.student-container {
  display: grid;
  grid-template-columns: 12vw 12vw 12vw 12vw 12vw;
  grid-column-gap: 1vw;
  justify-items: space-around;
  align-content: flex-start
}

.student-container .singlestudent {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  border: 1px outset papayawhip;
  align-content: flex-start;
  justify-items: flex-end;
}
.student-container .singlestudent img {
  grid-column-end: 3
}
.campusdetail {
  display: grid;
  grid-template-columns: 40vw 20vw;
  grid-template-rows: auto auto auto auto;
  grid-column-gap: 3vw;
  grid-row-gap: 1vh;
  justify-content: space-between;
  justify-self: center;
  align-content: space-around;
 
  
}
.campusdetail img {
  grid-column-start: 1;
}
.campusdetail h2 {
  grid-column-start: 1;
  grid-row-start: 3;
}
.campusdetail #description{
  grid-column-start: 2;
  grid-row-start: 2;
}
.campusdetail .students {
  display: grid;
  grid-row-start: 4;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-template-columns: 15vw 15vw 15vw 15vw;
  grid-row-gap: 2vh;
  grid-column-gap: 2vw;
}
.campusdetail .students .singlestudent {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  border: 2px solid papayawhip;
  align-content: flex-start;
  justify-items: center;
}

.campuses {
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
}
.campus-container {
  display: grid;
  grid-template-columns: 20vw 20vw 20vw;
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;
  justify-items: space-around;
}

.campus-container .singlecampus {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  border: 1px outset papayawhip;
  align-content: flex-start;
  justify-items: center;
}

.form {
  display: grid;
  grid-template-columns: auto 300px;
  grid-column-gap: 3vh;
  grid-row-gap: 2vh;
  justify-content: center
}
.form button {
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 5px;
  margin-right: 100px;
  margin-left: 100px;
}
.form label {
  font-size: 18px;
  justify-self: flex-end;
  align-self: center;
}
.form input {
  height: 30px;
  font-size: 18px;
}
select {
  font-size: 18px;
  background-color: rgba(102, 205, 171, 0.267);
  color: fuchsia;
  height: 3vh;
}
button {
  font-size: 18px;
  background-color: gold;
  height: 30px;
}
button:hover{
  transition: color 1s ease;
  color: tomato
}
.studentdetail {
  display: grid;
  justify-content: flex-start;
  margin-left: 4vw;
}
