/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: steelblue;
}

a:hover{
  transition: color 1s ease;
  color: magenta
}
a:active{
  color: darkcyan;
  text-shadow: 1px 1px #ff000065;
}
.link {
  color: papayawhip;
  font-size: 20px;
  text-decoration: none
}

.link:hover{
  transition: color 1s ease;
  color: fuchsia;
  text-decoration: underline;
  text-decoration-color: rgb(77, 243, 188)
}
.link:active{
  color: fuchsia;
}
.schoollink:active{
  color: fuchsia;
  text-shadow: 1px 1px #ff000065;
}
.schoollink:hover{
  transition: color 1s ease;
  color: tomato
}


body {
  background: linear-gradient(to bottom right, #ffffff, #fccb9ea4);
  height: 100vh;
  padding: 0;
  margin: auto;
  width: 70vw;
}
img {
  max-width: 100%;
  height: auto
}
nav {
  background-color: mediumaquamarine;
  color: darkorchid;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-column-gap: 10px;
  justify-content: space-around;
  align-content: center;
  height: 80px;
  padding: 10px;
}

main {
  display: grid;
  align-content: center;
}
#registrarheader {
  display: grid;
  grid-template-columns: auto;
  align-self: center;
  justify-items: center;
}
#registrarheader h1 {
  text-shadow: 1px 1px mediumaquamarine;
  text-decoration: underline;
  text-decoration-color: magenta
}
.students {
  display: grid;
  justify-items: center;
}
.studentview {
  display: grid;
  grid-template-columns: 40vw 30vw;
}
.student-container {
  display: grid;
  grid-template-columns: 12vw 12vw 12vw 12vw 12vw;
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;
  justify-items: space-around;
  align-content: flex-start
}

.student-container .singlestudent {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  border: 1px outset papayawhip;
  justify-items: flex-end;
}
.student-container .singlestudent img {
  grid-column-end: span 2;
  grid-row-end: span 2;
  /* justify-self: center; */
  align-self: flex-end;
  height: 5vw;
}

.studentheader {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 1vw
}

.campusdetail {
  display: grid;
  grid-template-columns: 30vw 30vw;
  grid-template-rows: auto auto auto auto;
  grid-column-gap: 3vw;
  grid-row-gap: 1vh;
  justify-content: space-evenly;
  align-content: space-around;
}

.campusdetail .campusheader {
  grid-row-start: 1;
  grid-column-start: 1;
  justify-self: center;

}

.campusdetail h2 {
  grid-row-start: 2;
  grid-column-end: span 2;
  justify-self: center;
  justify-items: center;
  color: magenta
}
.campusdetail #description{
  grid-column-start: 2;
  grid-row-end: 2;
  align-self: center;
}

#description h3, p {
  color: tomato
}

.campusdetail .students {
  grid-column-end: span 2;
  display: grid;
  grid-template-columns: 12vw 12vw 12vw 12vw;
  grid-row-gap: 2vh;
  grid-column-gap: 2vw;
  justify-self: center;
}
.campusdetail .students .singlestudent {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  border: 2px solid papayawhip;
  grid-column-gap: 1vw;
  justify-items: flex-end;
}
.campusdetail .students .singlestudent img{
  grid-column-end: span 2;
  max-height: 12vh;
  justify-self: flex-end;
  align-self: flex-end;
}
.campuses {
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
}
.campus-container {
  display: grid;
  grid-template-columns: 20vw 20vw 20vw;
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;
  justify-items: space-around;
}

.campus-container .singlecampus {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  border: 1px outset papayawhip;
  align-content: flex-start;
  justify-items: center;
}

.form {
  display: grid;
  grid-template-columns: auto 20vw;
  grid-column-gap: 3vh;
  grid-row-gap: 2vh;
  justify-content: center
}
.form button {
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 5px;
  margin-right: 100px;
  margin-left: 100px;
}
.form label {
  font-size: 18px;
  justify-self: flex-end;
  align-self: center;
}
.form input {
  height: 30px;
  font-size: 18px;
  color: fuchsia
}
.form textarea {
  height: 100px;
  font-size: 18px;
  color: fuchsia;
  overflow-wrap: break-word;
}
select {
  font-size: 18px;
  background-color: rgba(102, 205, 171, 0.267);
  color: fuchsia;
  height: 4vh;
}
button {
  font-size: 18px;
  background-color: gold;
  height: 30px;
}
button:hover{
  transition: color 1s ease;
  color: tomato
}
.studentdetail {
  display: grid;
  justify-content: flex-start;
  margin-left: 4vw;
}
.students .deleteButton {
  margin-top: 2vw;
  color: gold;
  background-color: red;
  height: 40px;
  width: 200px;
}
.campuses .deleteButton {
  margin-top: 2vw;
  color: gold;
  background-color: red;
  height: 40px;
  width: 200px;
}
#returnbutton {
  color: red;
}